html,
body {
    margin: 0px;
}

li {
    font-size: 24px;
}

h3 {
    font-size: 48px;
    font-weight: 800;
}

h4 {
    font-size: 38px;
    margin: 0;
}

h5 {
    font-size: 32px;
    margin: 15px 0;
}

p {
    font-size: 22px;
    font-weight: 200;
}
.top {
    background-color: rgb(20, 13, 80)
}
header {
    display: block;
}

.greeting {
    height: 90vh;
    width: 100%;
    background: no-repeat center/80% url("img/Europa-header.jpg");
    background-color: black;

    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    padding-top: 50px;
    padding-bottom: 50px ;
}


.title {
    color: azure;
    font-size: 32px;
    text-align: right;
    padding: 20px;
    margin: 0;
}

.main-title {
    color: aliceblue;
    text-align: center;
    font-size: 54px;
}

.main-information {
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    
}

/* Card */

.card {
    width: 500px;
    height: 650px;
    display: flex;
    overflow: hidden;
    transition: all .5s ease;
    border-radius: 60px;

    position: relative;
}

.card:hover {
    transform: scale(.9);
}

.card img {
    transition: all .5s ease;
}

.card:hover img {
    transform: scale(1.15);
}

.card:hover .card-content {
    position: absolute;
    bottom: 0;
    opacity: 1;
}

.card-content {
    opacity: 0;
    transition: all .5s ease;
    color: #fff;
    font: 600 1.5rem Tahoma;
    padding: 1.25rem;
    z-index: 30;
}

.card:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    display: none;
}

.card:hover:after {
    display: block;
}


.Europa {
    height: 50vh;
    /* width: 70vb; */
}

.intro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
}

.intro-text {
    width: 50%;
}

.descr {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.descr-list {
    width: 70%;
}

.criterions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    background-color: rgb(0, 0, 88);
    color: #fff;
    padding: 50px 10xp;
}

.crit-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.crit-descr {
    width: 500px;
}

.energy-section,
.water-section {
    color: #fff;
    background-color: rgba(75, 136, 193, 0.759);
}

.chemistry {
    margin: 0 70px ;
    gap: 20px;
}

.io-moon {
    height: 35vh;
    float: right;
    border-radius: 0 60px;
    margin-right: 20px;
}

.europa-clipper {
    height: 30vh;
    float: left;
    border-radius: 60px 0;
    margin-right: 20px;
}

.main-inf-title {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.water {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
}

.chemistry-descr {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.chemistry-text {
    margin-left: 50px;
    width: 90%;
}

.obj {
    width: 30% ;
    color: #fff;
    background-color: rgba(0, 0, 82, 0.671);
    border-radius: 60px;
    padding: 35px;
}

.descr-img,
.img-comparison {
    height: 50vh;
}

.descr-img {
    border-radius: 100px;
}

.energy-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
}

.img-energy {
    height: 10vh;
}

.energy {
    gap: 40px;
    background-color: #fff;
    color: rgb(0, 0, 24);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    border-radius: 60px;
    margin: 15px 150px;
}

@media screen and (max-width: 600px)
{
    h3{
        font-size: 36px;
    }
    
    .main-title {
        font-size: 42px;
    }
    .intro {
        justify-items: center;
        flex-direction: column-reverse;
    }
    .card {
        margin: 20px;
        width: 80%;
    }

    .Galileo-text{
        font-size: 18px;
    }
    
    .intro-text {
        font-size: 24px;
        width: 80%;
    }

    .descr {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 10px;
        width: 100%;
        height: 100%;
    }

    li {
        font-size: 24px;
    }
    .descr-img {
        width: 90%;
        height: 90%;
    }

    .water,
    .criterions {
        flex-direction: column;
        padding: 20px;
    }

    .crit-descr {
            width: 90%;
    }

    .obj {
        width: 80%;
    }

    .img-comparison {
        height: 300px;
    }

    .main-inf-title {
        font-size: 44px;
    }
    .chemistry-descr {
        padding-left: 10px;
        align-items: center
    }
    

    .chemistry {
        margin: 10px;
    }

    .chemistry-text {
        font-size: 20px;
        margin: 0;
        text-align: justify;       
    }

    p{
        width: 90%;
    }

    .io-moon,
    .europa-clipper {
       height: 100%;
       width: 100%;
       margin-bottom: 10px;
    }

    .energy {
        display: block;
        gap: 0;
        margin: 10px;
    }

    .img-energy {
        float: left;
        margin-right: 10px;
    }

}